header {
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


@media (min-width: 768px) {
  header {
    min-height: 100vh;
  }
}